<%= form_with(model: [current_user, obligation], local: true, class: "form-horizontal", html: { autocomplete: "off" }) do |f| %>
  <%= render "templates/alerts/form-errors", model: obligation %>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, { class: 'form-control', placeholder: "Event Name", :disabled => disable_form } %>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-xs-3 col-xs-offset-3">
      <%= f.label :start_time, 'Start Time:' %>
      <%= f.datetime_field :start_time, { class: 'form-control', :disabled => disable_form } %>
    </div>
    <div class="col-xs-3">
      <%= f.label :end_time, 'End Time:' %>
      <%= f.datetime_field :end_time, { class: 'form-control', :disabled => disable_form } %>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-xs-2 col-xs-offset-3">
      <%= f.label :city, 'City:' %>
      <%= f.text_field :city, { class: 'form-control' } %>
    </div>
    <div class="col-xs-1">
      <%= f.label :state_id, 'State:' %>
      <%= f.select(:state_id, State.select_state_id_abbr, { :include_blank => "Please Select a State" }, { :class => "form-control", :disabled => disable_form })%>
    </div>
    <div class="col-xs-3">
      <%= f.label :country_id, 'Country:' %>
      <%= f.select(:country_id, Country.select_country_id_name, { :include_blank => "Select a Country" }, { :class => "form-control", :disabled => disable_form }) %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit "Save Changes", class: "btn btn-success btn-block", :disabled => disable_form %>
    </div>
  </div>
<% end %>
