<p id="notice"><%= notice %></p>

<h1>Yearly Totals</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Mileage total</th>
      <th>Hours</th>
      <th>Minutes</th>
      <th>Seconds</th>
      <th>Number of runs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yearly_totals.each do |yearly_total| %>
      <tr>
        <td><%= yearly_total.year %></td>
        <td><%= yearly_total.mileage_total %></td>
        <td><%= yearly_total.hours %></td>
        <td><%= yearly_total.minutes %></td>
        <td><%= yearly_total.seconds %></td>
        <td><%= yearly_total.number_of_runs %></td>
        <td><%= link_to 'Show', yearly_total %></td>
        <td><%= link_to 'Edit', edit_yearly_total_path(yearly_total) %></td>
        <td><%= link_to 'Destroy', yearly_total, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yearly Total', new_yearly_total_path %>
