<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @yearly_total.year %>
</p>

<p>
  <strong>Mileage total:</strong>
  <%= @yearly_total.mileage_total %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @yearly_total.hours %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @yearly_total.minutes %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @yearly_total.seconds %>
</p>

<p>
  <strong>Number of runs:</strong>
  <%= @yearly_total.number_of_runs %>
</p>

<%= link_to 'Edit', edit_yearly_total_path(@yearly_total) %> |
<%= link_to 'Back', yearly_totals_path %>
