<%= form_with(model: weekly_total, local: true) do |form| %>
  <% if weekly_total.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weekly_total.errors.count, "error") %> prohibited this weekly_total from being saved:</h2>

      <ul>
      <% weekly_total.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :week_number %>
    <%= form.text_field :week_number %>
  </div>

  <div class="field">
    <%= form.label :week_start %>
    <%= form.datetime_select :week_start %>
  </div>

  <div class="field">
    <%= form.label :week_end %>
    <%= form.datetime_select :week_end %>
  </div>

  <div class="field">
    <%= form.label :mileage_total %>
    <%= form.text_field :mileage_total %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal %>
  </div>

  <div class="field">
    <%= form.label :met_goal %>
    <%= form.check_box :met_goal %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.number_field :hours %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :seconds %>
    <%= form.number_field :seconds %>
  </div>

  <div class="field">
    <%= form.label :number_of_runs %>
    <%= form.number_field :number_of_runs %>
  </div>

  <div class="field">
    <%= form.label :elevation_gain %>
    <%= form.number_field :elevation_gain %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
