<p id="notice"><%= notice %></p>

<h1>Weekly Totals</h1>

<table>
  <thead>
    <tr>
      <th>Week number</th>
      <th>Week start</th>
      <th>Week end</th>
      <th>Mileage total</th>
      <th>Goal</th>
      <th>Met goal</th>
      <th>Hours</th>
      <th>Minutes</th>
      <th>Seconds</th>
      <th>Number of runs</th>
      <th>Elevation gain</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_totals.each do |weekly_total| %>
      <tr>
        <td><%= weekly_total.week_number %></td>
        <td><%= weekly_total.week_start %></td>
        <td><%= weekly_total.week_end %></td>
        <td><%= weekly_total.mileage_total %></td>
        <td><%= weekly_total.goal %></td>
        <td><%= weekly_total.met_goal %></td>
        <td><%= weekly_total.hours %></td>
        <td><%= weekly_total.minutes %></td>
        <td><%= weekly_total.seconds %></td>
        <td><%= weekly_total.number_of_runs %></td>
        <td><%= weekly_total.elevation_gain %></td>
        <td><%= weekly_total.notes %></td>
        <td><%= link_to 'Show', weekly_total %></td>
        <td><%= link_to 'Edit', edit_weekly_total_path(weekly_total) %></td>
        <td><%= link_to 'Destroy', weekly_total, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly Total', new_weekly_total_path %>
