<p id="notice"><%= notice %></p>

<p>
  <strong>Week number:</strong>
  <%= @weekly_total.week_number %>
</p>

<p>
  <strong>Week start:</strong>
  <%= @weekly_total.week_start %>
</p>

<p>
  <strong>Week end:</strong>
  <%= @weekly_total.week_end %>
</p>

<p>
  <strong>Mileage total:</strong>
  <%= @weekly_total.mileage_total %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @weekly_total.goal %>
</p>

<p>
  <strong>Met goal:</strong>
  <%= @weekly_total.met_goal %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @weekly_total.hours %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @weekly_total.minutes %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @weekly_total.seconds %>
</p>

<p>
  <strong>Number of runs:</strong>
  <%= @weekly_total.number_of_runs %>
</p>

<p>
  <strong>Elevation gain:</strong>
  <%= @weekly_total.elevation_gain %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @weekly_total.notes %>
</p>

<%= link_to 'Edit', edit_weekly_total_path(@weekly_total) %> |
<%= link_to 'Back', weekly_totals_path %>
