<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h1>Editing: <strong><%= total_record.year %></strong></h1>
      </div>
      <div class="panel-body">
        <%= form_with(model: [:admin, :total_records, total_record], local: true, class: "form-horizontal", html: { autocomplete: "off" }) do |f| %>
          <%= render "templates/alerts/form-errors", model: total_record %>

          <div class="row text-center">
            <div class="col-xs-2">
              <%= f.label :number_of_runs, 'Number of Runs:' %>
              <%= f.number_field :number_of_runs, { class: 'form-control', step: 1, placeholder: "0 runs" } %>
            </div>
            <div class="col-xs-3">
              <%= f.label :mileage_total, 'Mileage Total:' %>
              <%= f.number_field :mileage_total, { class: 'form-control', step: 0.1, placeholder: "0 miles" } %>
            </div>
            <div class="col-xs-3">
              <%= f.label :elevation_gain, 'Elevation:' %>
              <%= f.number_field :elevation_gain, { class: 'form-control', step: 1, placeholder: "0 ft." } %>
            </div>
            <div class="col-xs-2">
              <%= f.label :time_in_seconds, 'Time in Seconds:' %>
              <%= f.number_field :time_in_seconds, { class: 'form-control', placeholder: "0 seconds" } %>
            </div>
            <div class="col-xs-1">
              <%= f.label :frozen_flag, 'Frozen?', { class: "pointer-cursor make-text-unselectable" } %>
                <%= f.check_box :frozen_flag, {} %>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <%= f.submit "Save Changes", class: "btn btn-success btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
