<p id="notice"><%= notice %></p>

<h1>Admin Total Record Weekly Totals</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_total_record_weekly_totals.each do |admin_total_record_weekly_total| %>
      <tr>
        <td><%= link_to 'Show', admin_total_record_weekly_total %></td>
        <td><%= link_to 'Edit', edit_admin_total_record_weekly_total_path(admin_total_record_weekly_total) %></td>
        <td><%= link_to 'Destroy', admin_total_record_weekly_total, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Total Record Weekly Total', new_admin_total_record_weekly_total_path %>
