<div class="panel panel-default card" style="border-color: <%= run.hex_code %>">
	<div class="row padding-ten">
		<div class="col-xs-12 text-center">
			<%= render "calendars/cards/run-heading-template", run: run %>
			<div>
				<%= mileage_and_elasped_time(run) %>
				<br />
				<%= pace_and_elevation(run) %>
			</div>
			<div><%= shoe_with_mileage(run.shoe) %></div>
			<% if not run.run_type.is_race? %>
				<%= render colored_line_divider_path, hex_code: run.hex_code %>
				<div><small class="text-muted">Planned: <%= concat_distance_miles(run.planned_mileage) %></small></div>
			<% end %>
		</div>
	</div>
</div>
