<div class="panel panel-default card" style="border-color: <%= run.hex_code %>">
	<div class="row padding-ten">
		<div class="col-xs-12 text-center">
			<%= render "calendars/cards/run-heading-template", run: run %>
			<div>
				<%= concat_distance_miles(run.mileage_total) %> |
				<strong><%= concat_elapsed_time(run.time_in_seconds) %></strong>
				<br />
				<%= concat_pace_min_miles(run) %> | <%= concat_elevation_gain(run.elevation_gain) %>
			</div>
			<div><small class="text-muted"><%= return_full_shoe_name(run.shoe) %> (<%= return_shoe_mileage(run.shoe.total_mileage) %>)</small></div>
			<% if not run.run_type.is_race? %>
				<%= render colored_line_divider_path, hex_code: run.hex_code %>
				<div><small class="text-muted">Planned: <%= concat_distance_miles(run.planned_mileage) %></small></div>
			<% end %>
		</div>
	</div>
</div>
