<div class="panel panel-default card padding-ten" style="border-color: <%=obligation.hex_code%>">
	<div class="row">
		<div class="col-xs-12 text-center">
			<div><strong><%= obligation.id %>-<%= obligation.name %></strong></div>
			<div><small class="text-muted"><%= obligation.concat_city_state %></small></div>
			<div><small class="text-muted"><%= nil_end_time_check(obligation) %></small></div>
		</div>
	</div>
</div>