<div class="container">
    <div class="row">
		<div class="col-md-4 text-center">
			<h2><%= format_month(Date.current) %></h2>
			<hr />
			<p><%= concat_totals(@monthly_stats) %></p>
    	</div>
		<div class="col-md-4 text-center">
			<h2><%= Date.today.year %></h2>
			<hr />
			<p><%= concat_totals(@yearly_stats) %></p>
		</div>
		<div class="col-md-4 text-center">
			<h2>All-Time</h2>
			<hr />
			<p><%= concat_totals(@all_time_stats) %></p>
		</div>
	</div>
</div>