<%= render index_header_path, heading_text: "Statistics" %>

<div class="row">
	<div class="col-md-1 col-xs-8 col-md-offset-11 text-right">
		<%= button_to refresh_statistics_path, :class => "btn btn-primary", :title => "Refresh All User Totals" do %> 
			<span class="glyphicon glyphicon-refresh"></span>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-12 text-center">
		<%= pie_chart @weekly_runtype_counts_data, messages: { empty: "No data" } %>
	</div>
	<div class="col-md-8 col-sm-12 text-center">
		<%= render mileage_chart_path, title: "Runs this Week (#{formatshortenedDateRange(Date.current.beginning_of_week, Date.current.end_of_week)})", data: @current_week_graph %>
		<% @current_week_runs.each do |run| %>
			<p>
				<%= formateDateTimeWithAt(run.start_time.utc) %> | <span style="color: <%=run.hex_code%>"><%= run.run_type.name %></span> | <%= concat_distance_miles(run.mileage_total) %> | <%= concat_elapsed_time(run) %> | <%= concat_pace_min_miles(run.pace) %> | <%= concat_elevation_gain(run.elevation_gain) %> | <small class="text-muted"><%= run.gear.return_full_shoe_name %></small>
			</p>
		<% end %>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6 col-sm-12 text-center">
		<%= render mileage_chart_path, title: "Mileage over the past 4 Weeks", data: @weekly_totals_graph %>
		<% @weekly_totals.each do |weekly_total| %>
			<p><%= concat_date_range_run_total(formatDateRange(weekly_total.week_start, weekly_total.week_end), weekly_total) %></p>
		<% end %>
	</div>
	<div class="col-md-6 col-sm-12 text-center">
		<%= render mileage_chart_path, title: "Mileage over the past 12 Months", data: @monthly_stats_graph %>
		<% @monthly_totals.each do |monthly_total| %>
			<p><%= concat_date_range_run_total(formatMonthYear(monthly_total.month_start.utc, monthly_total.month_start), monthly_total) %></p>
		<% end %>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6 col-sm-12 text-center">
		<%= render mileage_chart_path, title: "Mileage Year-to-Year", data: @yearly_totals_graph %>
		<% @yearly_totals.each do |yearly_total| %>
			<p><%= concat_date_range_run_total(yearly_total.year, yearly_total) %></p>
		<% end %>
	</div>
	<div class="col-md-6 col-sm-12 text-center">
		<h2>All-Time</h2>
		<hr />
		<p><%= concat_run_totals_line_one(@all_time_stats) %></p>
		<p><%= concat_run_totals_line_two(@all_time_stats) %></p>
	</div>
</div>
