<div class="container">
    <div class="row">
		<div class="col-md-4 text-center">
			<h2><%= format_month(Date.current) %></h2>
			<hr />
			<p><%= concat_totals(@monthly_stats) %></p>
    	</div>
		<div class="col-md-4 text-center">
			<h2><%= Date.today.year %></h2>
			<hr />
			<p><%= concat_totals(@yearly_stats) %></p>
		</div>
		<div class="col-md-4 text-center">
			<h2>All-Time</h2>
			<hr />
			<p><%= concat_totals(@all_time_stats) %></p>
		</div>
	</div>
</div>

<br /><br />

<div class="container">
    <div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h2>Personal Bests</h2>
			<hr />
			<% @personal_bests.each do |race| %>
				<h3><%= formatYear(race.start_time) %> <%= race.name %></h3>
				<p><%= concat_city_state_full(race.city, race.state) %></p>
				<p><strong><%= concat_distance_miles(race.mileage_total) %></strong> | <strong><%= concat_elapsed_time(race.hours, race.minutes, race.seconds) %></strong></p>
				<p><%= concat_pace_min_miles(race.pace) %> | <%= concat_elevation_gain(race.elevation_gain) %></p>
				<p><%= race.gear.return_full_shoe_name %></p>
				<br />
			<% end %>
    	</div>
	</div>
	<hr>
</div>