<div class="panel panel-default card" style="border-color: <%= run.hex_code %>">
	<div class="row padding-ten">
		<div class="col-xs-12 text-center">
			<%= render "user/calendars/cards/run-heading-template", run: run %>
			<p><%= concat_distance_miles(run.planned_mileage) %></p>
			<%= render colored_line_divider_path, hex_code: run.hex_code %>
			<%= render edit_icon_btn_path, edit_path: edit_user_calendars_path(current_user, run.id), disabled_condition: false %>
			<%= render remove_icon_btn_path, object: destroy_user_calendars_path(current_user, run.id), disabled_condition: session[:website_viewer] %>
		</div>
	</div>
</div>


