<div class="modal fade" id="copySpecificDateModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title text-center" id="aboutAddModal">Copy This Week's Runs Until Specified Date</h1>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<p class="text-center">Date MUST BE 2+ weeks from current date.</p>
					</div>
				</div>
				<br />
				<div class="row vertical-align-middle">
					<div class="col-xs-4 text-right">
						<%= form_with(url: copy_until_specific_date_user_calendars_path, method: "post") do %>
							<%= label_tag(:end_date, "Copy Until:") %>
					</div>
					<div class="col-xs-8">
						<%= date_field_tag(:end_date, DateTime.current, class: 'form-control') %>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<%= submit_tag 'Cancel', :type => 'button', class: "btn btn-danger", data: { toggle: 'modal', 'target': "#copySpecificDateModal" } %>
					<%= submit_tag("Submit", class: 'btn btn-success') %>
				<% end %>
			</div>
		</div>
	</div>
</div>