<div class="panel panel-default card" style="border-color: <%= run.hex_code %>">
	<div class="row padding">
		<div class="col-xs-12 text-center">
			<div><small style="color: <%=run.hex_code%>"><%= run.run_type.name %></small></div>
			<div><strong><%= run.name %></strong></div>
			<div>
				<small>
					<% if not run.run_type.is_race? %>
						Planned/Actual
						<br />
						<%= concat_distance_miles(run.planned_mileage) %>/<%= concat_distance_miles(run.mileage_total) %>
					<% else %>
						<%= concat_distance_miles(run.mileage_total) %>
					<% end %>
					<br />
					<strong><%= concat_elapsed_time(run) %></strong>
					<br />
					<%= concat_pace_min_miles(run.pace) %> | <%= concat_elevation_gain(run.elevation_gain) %>
				</small>
			</div>
			<div><small class="text-muted"><%= run.gear.return_full_shoe_name %> (<%= run.gear.return_shoe_mileage %>)</small></div>
		</div>
	</div>
</div>
