<div class="row">
	<div class="col-md-2 col-xs-12 col-md-offset-1">
		<%= link_to "Add a Run on Specific Date", new_calendars_path, { class: "btn btn-info btn-block", :disabled => current_user.is_viewer? } %>
	</div>
	<div class="col-md-2 col-xs-12">
		<%= button_to "Create this Week's Default Runs", create_current_week_runs_calendars_path, { class: "btn btn-primary btn-block", :disabled => current_user.is_viewer? } %>
	</div>
	<div class="col-md-2 col-xs-12">
		<%= button_to "Copy Last Week's Runs to This Week", copy_past_week_runs_calendars_path, { class: "btn btn-danger btn-block", :disabled => current_user.is_viewer? } %>
	</div>
	<div class="col-md-2 col-xs-12">
		<%= button_to "Copy This Week's Runs to Next Week", copy_current_week_runs_calendars_path, { class: "btn btn-success btn-block", :disabled => current_user.is_viewer? } %>
	</div>
	<div class="col-md-2 col-xs-12">
		<%= button_tag "Copy This Week's Runs Until Specific Date", :class => "btn btn-warning btn-block", :disabled => current_user.is_viewer?, data: { toggle: 'modal', target: '#copySpecificDateModal' } %>
		<%= render "copy-runs-until-date-modal" %>
	</div>
</div>
<hr />

<%= render notice_path %>

<div class="row">
	<div class="col-md-12">
		<p class="text-center">
			<% @run_types.each_with_index do |run_type, i| %>
				<span style="color: <%=run_type.hex_code%>"><%= run_type.name %></span> <%= "|" unless @run_types.count == (i+1) %>
			<% end %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= month_calendar(attribute: :start_time, events: @runs) do |date, runs| %>
			<h5><strong><%= date %></strong></h5>
			<hr />
			<% runs.each do |run| %>
				<%= render run.was_completed? ? "completed-run-card" : "default-run-card", run: run %>
			<% end %>
		<% end %>
	</div>
</div>


<!--<%#= month_calendar(attribute: :start_datetime, end_attribute: :end_datetime, events: @obligations) do |date, obligations| %>
  <%#= date %>

  <%# obligations.each do |obligation| %>
    <div>
      <strong><%#= obligation.name %></strong>
      <br />
      <i><%#= concat_city_state_abbreviation(obligation.city, obligation.state) %></i>
      <br />
      <%#= obligation.return_formatted_time_period %>
    </div>
  <%# end %>
<%# end %>-->