<div class="col-md-4 text-center">
	<h1 class="display-2">Personal Bests</h1>
	<hr />
	<div class="row">
		<% @race_distance_counts.each do |race_distance, race_count| %>
			<div class="col-md-<%=@rd_counts_column_spacing%> text-center">
				<p><strong><%= race_distance %></strong> <span class="badge"><%= race_count %></span> </p>
			</div>
		<% end %>
	</div>

	<%= geo_chart @geo_chart_data, library: {region: 'US', resolution: 'provinces'} %>

	<table class="table table-borderless">
		<% @personal_bests.each do |personal_best| %>
			<thead>
				<tr>
					<th colspan="3">
						<h3><%= formatYear(personal_best.start_time) %> <%= personal_best.name %></h3>
						<small class="text-muted"><%= concat_city_state_full(personal_best.city, personal_best.state) %></small>
					</th>
				</tr>
			</thead>
			<body>
				<tr>
					<td class="col-md-4 text-right"><%= concat_elevation_gain(personal_best.elevation_gain) %></td>
					<td class="col-md-4">
						<%= concat_elapsed_time(personal_best) %><br />
						<small class="text-muted"><%= concat_pace_min_miles(personal_best.pace) %></small>
					</td>
					<td class="col-md-4">
						<%= personal_best.gear.return_full_shoe_name %><br />
						<small class="text-muted"><%= personal_best.gear.color_way %></small>
					</td>
				</tr>
			</body>
		<% end %>
	</table>
</div>