<div class="col-md-8">
	<% @race_results.each do |year, races| %>
		<h1 class="display-2"><%= formatYear(year) %></h1>
		<hr />
		<table class="table table-borderless table-hover">
			<% races.each do |race| %>
				<body>
					<tr>
						<td><strong><%= formatCalendarDay(race.start_time) %></strong></td>
						<td>
							<%= concat_race_name(race.name) %><br />
							<small class="text-muted"><%= race.city %>, <%= race.state.abbreviation %></small>
						</td>
						<td><%= concat_distance_miles(race.mileage_total) %></td>
						<td>
							<%= concat_elapsed_time(race.time_in_seconds) %><br />
							<small class="text-muted"><%= concat_pace_min_miles(race) %></small>
						</td>
						<td><%= concat_elevation_gain(race.elevation_gain) %></td>
						<td>
							<%= return_full_shoe_name(race.shoe) %><br />
							<small class="text-muted"><%= race.shoe.color_way %></small>
						</td>
					</tr>
				</body>
			<% end %>
		</table>
	<% end %>
</div>