<div class="table-wrapper-scroll-y gear-table-scrollbar">
  <table class="table table-responsive table-striped mb-0">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Shoe</th>
        <th scope="col">Weight</th>
        <th scope="col">Drop</th>
        <th scope="col">Purchased</th>
        <th scope="col">First Used</th>
        <th scope="col">Mileage</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% gears.each do |shoe| %>
        <%= shoe.default ? "<tr class='bold-text'>".html_safe : "<tr>".html_safe %>
          <td scope="row"><%= image_tag(shoe.image.url, alt: "#{shoe.return_shoe_name} Icon", class: "shoe-icon") %></td>
          <td scope="row"><%= shoe.return_shoe_name %></td>
          <td scope="row"><%= shoe.return_shoe_weight %></td>
          <td scope="row"><%= shoe.return_shoe_drop %></td>
          <td scope="row"><%= formatDateDots(shoe.purchased_on) %></td>
          <td scope="row"><%= date_nil_check(shoe.first_used_on) %></td>
          <td scope="row"><%= shoe.return_shoe_mileage %></td>
          <td><%= render edit_icon_btn_path, edit_path: edit_gear_path(shoe) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
