<div class="row">
  <div class="col-md-2">
    <%= render back_to_dashboard_path %>
  </div>
  <div class="col-md-2 col-md-offset-8">
    <%= render "add-modal" %>
    <%= render new_btn_tag_path, target: "#shoebrandAddModal", button_text: "Shoe Brand" %>
  </div>
</div>

<h1 class="text-center">Shoe Brands</h1>
<hr />
<%= render notice_path %>
<%= render alert_path %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-12">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>Brand</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @admin_shoe_brands.each do |shoe_brand| %>
          <tr>
            <td><%= shoe_brand.brand %></td>
            <td>
              <%= render "edit-modal", shoe_brand: shoe_brand %>
              <%= render edit_btn_tag_path, target: "#editShoeBrandModal-#{shoe_brand.id}" %>
            </td>
            <td>
              <%= render remove_btn_path, object: [:admin, shoe_brand], disabled_condition: session[:website_viewer] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
