<%= form_with(model: race_distance, local: true, class: "form-horizontal", html: { autocomplete: "off" }) do |f| %>
  <%= render "templates/alerts/form-errors", model: race_distance %>

  <div class="row">
    <div class="col-xs-1 col-xs-offset-3 align-right"><%= f.label :name, 'Distance:' %></div>
    <div class="col-xs-3"><%= f.text_field :name, { class: 'form-control', placeholder: "50k (31.1 Miles)" } %></div>
    <div class="col-xs-1 align-right"><%= f.label :distance, 'In Miles:' %></div>
    <div class="col-xs-2"><%= f.number_field :distance_miles, { min: 0, step: 0.1, placeholder: "1", class: 'form-control' } %></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit "Save Changes", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>

