<div class="modal fade" id="weeklyTotalEditModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title text-center" id="weeklyTotalEditModalLabel">Edit Weekly Total Goal</h1>
			</div>
			<div class="modal-body">
				<p class="text-center"><small class="text-muted"><%= formatFullDateRange(Date.current.beginning_of_week, Date.current.end_of_week) %></small></p>
				<br />
				<%= form_with(model: @weekly_total, url: update_dashboards_path(@weekly_total.id), method: "patch", local: true, :validate => true, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
					<div class="row">
						<div class="col-xs-4 col-sm-offset-4 text-center">
							<%= f.label :mileage_goal, 'Mileage Goal:' %>
							<%= f.select(:mileage_goal, Run.run_weekly_mileage_select, {}, { :class => "form-control", :disabled => session[:website_viewer] })%>
						</div>
		          	</div>
		          	<br />
			</div>
			<div class="modal-footer">
				<%= submit_tag 'Cancel', :type => 'button', class: "btn btn-danger", data: { toggle: 'modal', 'target': "#weeklyTotalEditModal" } %>
				<%= f.submit "Save Changes", class: 'btn btn-success', :disabled => session[:website_viewer] %>
			</div>
			<% end %>
		</div>
	</div>
</div>