<p class="text-right"><%= formatFullDate(DateTime.now) %></p>
<hr />
<%= render notice_path %>
<%= render alert_path %>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default" style="border-color: <%=@last_run.run_type.hex_code%>">
			<div class="panel-heading text-center" style="border-color: <%=@last_run.run_type.hex_code%>">
				<h1>Last Run</h1>
			</div>
			<div class="panel-body text-center">
				<p>
					<small class="text-muted"><%=formatDayofWeek(@last_run.start_time)%> | <%=format_date_month(@last_run.start_time)%> | <%=formatTime(@last_run.start_time)%> | about <%= time_ago_in_words(@last_run.start_time) %> ago</small>
				</p>
				<p style="color: <%=@last_run.run_type.hex_code%>"><%= @last_run.run_type.name %></p>
				<h3><strong><%= @last_run.name %></strong></h3>
				<% if not @last_run.run_type.is_race? %>
					<p>(Planned) <%= concat_distance_miles(@last_run.planned_mileage) %>/<%= concat_distance_miles(@last_run.mileage_total) %> (Actual)</p>
				<% else %>
					<p><%= concat_distance_miles(@last_run.mileage_total) %></p>
				<% end %>
				<p>
					<strong><%= concat_elapsed_time(@last_run) %></strong> | <%= concat_pace_min_miles(@last_run.pace) %> | <%= concat_elevation_gain(@last_run.elevation_gain) %>
				</p>
				<p><%= @last_run.gear.return_full_shoe_name %> (<%= @last_run.gear.return_shoe_mileage %>)</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default" style="border-color: <%= @next_run.run_type.hex_code %>">
			<div class="panel-heading text-center" style="border-color: <%= @next_run.run_type.hex_code %>">
				<h1>Next Run</h1>
			</div>
			<div class="panel-body text-center">
				<p>
					<small class="text-muted"><%=formatDayofWeek(@next_run.start_time)%> | <%=format_date_month(@next_run.start_time)%> | <%=formatTime(@next_run.start_time)%> | in <%= time_ago_in_words(@next_run.start_time) %></small>
				</p>
				<p style="color: <%=@next_run.run_type.hex_code%>"><%= @next_run.run_type.name %></p>
				<h3><strong><%= @next_run.name %></strong></h3>
				<p>Planned: <%= concat_distance_miles(@next_run.planned_mileage) %></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h1>Weekly Totals</h1>
			</div>
			<div class="panel-body text-center">
				<p><small class="text-muted"><%= formatDateRange(Date.current.beginning_of_week, Date.current.end_of_week) %></small></p>
				<p><%= concat_run_totals_line_one(@weekly_total) %></p>
				<p><%= concat_run_totals_line_two(@weekly_total) %></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="text-center">[INSERT GRAPH FOR WEEKLY TOTALS HERE]</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h1><%= format_month(Date.current) %> Totals</h1>
			</div>
			<div class="panel-body text-center">
				<p><%= concat_run_totals_line_one(@monthly_total) %></p>
				<p><%= concat_run_totals_line_two(@monthly_total) %></p>
			</div>
		</div>
	</div>
</div>