<%= render notice_path %>
<%= render alert_path %>

<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<%= render "dashboards/panels/last-run-panel", last_runs: @last_runs %>
			</div>
			<div class="col-md-6">
				<%= render "dashboards/panels/next-run-panel", next_runs: @next_runs %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= render "dashboards/panels/line-chart-panel", weekly_total_graph: @weekly_total_graph %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<%= render "dashboards/panels/upcoming-races-panel", future_races: @future_races unless @future_races.empty? %>
		<%= render "dashboards/panels/weekly-total-panel", weekly_total: @weekly_total %>
		<%= render "dashboards/panels/total-records-panel", total_record: @monthly_total, heading_date: format_month(@monthly_total.month_start) %>
		<%= render "dashboards/panels/total-records-panel", total_record: @yearly_total, heading_date: @yearly_total.year %>
	</div>
</div>
