<% if not next_run.nil? %>
	<div class="panel panel-default" style="border-color: <%= next_run.hex_code %>">
		<div class="panel-heading text-center" style="border-color: <%= next_run.hex_code %>">
			<h1>Next Run</h1>
		</div>
		<div class="panel-body text-center">
			<p>
				<small class="text-muted"><%=formatTime(next_run.start_time.utc)%> | <%=formatDayofWeek(next_run.start_time)%> | <%=format_date_month(next_run.start_time)%> | <%= concat_city_state_abbreviation(next_run.city, next_run.state) %></small>
			</p>
			<p style="color: <%=next_run.hex_code%>"><%= next_run.run_type.name %></p>
			<h3><strong><%= next_run.name %></strong></h3>
			<p><%= concat_distance_miles(next_run.planned_mileage) %></p>
		</div>
	</div>
<% else %>
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h1>Next Run</h1>
		</div>
		<div class="panel-body text-center">
			<p class="text-muted"><i>Your next run is not scheduled yet.</i></p>
		</div>
	</div>
<% end %>