<div class="panel panel-default">
	<div class="panel-heading text-center">
		<div class="row">
			<div class="col-md-12">
				<h1>Upcoming <%= "Race".pluralize(future_races.count) %></h1>
			</div>
		</div>
	</div>
	<div class="panel-body text-center">
		<div class="row">
			<% future_races.in_groups_of(2, false).each do |future_race_records| %>
				<% future_race_records.each do |future_race| %>
					<div class="col-md-6">
						<p><%= concat_countdown_timer(future_race.start_time) %></p>
						<p>
							<small class="text-muted"><%= formatMonthNameDateTimeWithAt(future_race.start_time) %></small><br />
							<strong><%= future_race.name %></strong><br />
							<small><%= concat_city_state_abbreviation(future_race.city, future_race.state) %></small>
						</p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>