<%= form_with(model: run, local: true, :url => { :action => action }, class: "form-horizontal", html: { autocomplete: "off" }) do |f| %>
  <%= render "templates/alerts/form-errors", model: run %>

  <div class="row">
    <div class="col-xs-2 col-sm-offset-8 text-right">
      <%= f.label :personal_best, 'Personal Best?', { class: "pointer-cursor make-text-unselectable" } %>
      <%= f.check_box :personal_best, { :disabled => current_user.is_viewer? } %>
    </div>
    <div class="col-xs-2 text-right">
      <%= f.label :completed_run, 'Completed?', { class: "pointer-cursor make-text-unselectable" } %>
      <%= f.check_box :completed_run, { :disabled => run.cannot_modify_run_record? } %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-offset-2">
      <%= f.datetime_field :start_time, { class: 'form-control', :disabled => run.cannot_modify_run_record? } if run.new_record? %>
      <%= f.time_field :start_time, { class: 'form-control', :disabled => run.cannot_modify_run_record? } unless run.new_record? %>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-xs-5 col-sm-offset-1">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, { class: 'form-control', placeholder: current_user.concat_user_default_city_run_name, :disabled => current_user.is_viewer? } %>
    </div>
    <div class="col-xs-2">
      <%= f.label :run_type_id, 'Run Type:' %>
      <%= f.select(:run_type_id, RunType.select_run_type_id_name, { :include_blank => "Select a Run Type" }, { :class => "form-control", :disabled => current_user.is_viewer? })%>
    </div>
    <div class="col-xs-3">
      <%= f.label :shoe_id, 'Shoes:' %>
      <%= f.select(:shoe_id, Shoe.of_user(current_user).select_shoe_id_name, { :selected => true }, { :class => "form-control", :disabled => current_user.is_viewer? })%>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="col-xs-2 col-sm-offset-1">
      <%= f.label :planned_mileage, 'Planned Mileage:' %>
      <div class="vertical-align-middle slim-padding">
        <div class="col-md-8">
          <%= f.select(:planned_mileage, Run.run_planned_mileage_select, {}, { :class =>'form-control chosen-select', :disabled => run.cannot_modify_run_record? }) %>
        </div>
        <div class="col-md-4">
          <%= f.label :planned_mileage, 'miles' %>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <%= f.label :mileage_total, 'Actual Mileage:' %>
      <div class="vertical-align-middle slim-padding">
        <div class="col-md-8">
          <%= f.select(:mileage_total, Run.run_actual_mileage_select, {}, { :class =>'form-control chosen-select', :disabled => run.cannot_modify_run_record? }) %>
        </div>
        <div class="col-md-4">
          <%= f.label :mileage_total, 'miles' %>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-md-12"><%= f.label :pace, 'Pace:' %></div>
      </div>
      <div class="vertical-align-middle slim-padding">
        <div class="col-md-4 col-sm-offset-2">
          <%= f.select('pace_minutes', (4..20), {}, { :class =>'form-control', :disabled => current_user.is_viewer? }) %>
        </div>
        <div class="col-md-4">
          <%= f.select('pace_seconds', (0..59).map {|n| "%02d" % n}, {}, { :class =>'form-control', :disabled => current_user.is_viewer? }) %>
        </div>
        <div class="col-md-2">
          <%= f.label :pace, 'min/mile' %>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="row">
        <div class="col-md-12"><%= f.label :time_in_seconds, 'Elapsed Time:' %></div>
      </div>
      <div class="vertical-align-middle slim-padding">
        <div class="col-md-3">
          <%= f.select('hours', (0..10), {}, { :class =>'form-control', :disabled => run.cannot_modify_run_record? }) %>
        </div>
        <div class="col-md-1">
          <%= f.label :time_in_seconds, ':' %>
        </div>
        <div class="col-md-3">
          <%= f.select('minutes', (0..59), {}, { :class =>'form-control', :disabled => run.cannot_modify_run_record? }) %>
        </div>
        <div class="col-md-1">
          <%= f.label :time_in_seconds, ':' %>
        </div>
        <div class="col-md-3">
          <%= f.select('seconds', (0..59), {}, { :class =>'form-control', :disabled => run.cannot_modify_run_record? }) %>
        </div>
      </div>
      <% if run.was_completed? %>
        <p class="text-center">Current Time: <strong><%= concat_elapsed_time(@run.time_in_seconds) %></strong></p>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row text-center">
    <div class="row">
      <div class="col-xs-2 col-sm-offset-2">
        <%= f.label :elevation_gain, 'Elevation:' %>
      </div>
      <div class="col-xs-2 col-sm-offset-3">
        <%= f.label :notes, 'Notes:' %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="row vertical-align-middle no-padding">
          <div class="col-md-3 col-sm-offset-2 slim-padding">
            <%= f.number_field :elevation_gain, { class: 'form-control', placeholder: "0", :min => 0, :disabled => run.cannot_modify_run_record? } %>
          </div>
          <div class="col-md-1 text-left no-padding">
            <%= f.label :elevation_gain, 'ft.' %>
          </div>
      </div>
      <br />
      <div class="row slim-padding">
        <div class="col-xs-4 col-sm-offset-3">
          <%= f.label :city, 'City:' %>
          <%= f.text_field :city, { class: 'form-control', :placeholder => current_user.default_city, :disabled => current_user.is_viewer? } %>
        </div>
        <div class="col-xs-4">
          <%= f.label :state_id, 'State:' %>
          <%= f.select(:state_id, State.select_state_id_name, { :include_blank => "Select a State" }, { :class => "form-control", :disabled => current_user.is_viewer? }) %>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <%= f.text_area :notes, { class: 'form-control', rows: 6, :disabled => current_user.is_viewer? } %>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit "Save Changes", class: "btn btn-success btn-block", :disabled => current_user.is_viewer? %>
    </div>
  </div>
<% end %>