<%= form_with(model: run, local: true) do |form| %>
  <% if run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_field :distance %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.number_field :hours %>
  </div>

  <div class="field">
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div class="field">
    <%= form.label :seconds %>
    <%= form.number_field :seconds %>
  </div>

  <div class="field">
    <%= form.label :pace %>
    <%= form.text_field :pace %>
  </div>

  <div class="field">
    <%= form.label :elevation_gain %>
    <%= form.number_field :elevation_gain %>
  </div>

  <div class="field">
    <%= form.label :avg_heart_rate %>
    <%= form.text_field :avg_heart_rate %>
  </div>

  <div class="field">
    <%= form.label :max_heart_rate %>
    <%= form.text_field :max_heart_rate %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :personal_best %>
    <%= form.check_box :personal_best %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
