<%= render index_header_new_btn_path, new_path: new_run_path, new_btn_text: "Run", heading_text: "My Runs" %>

<table class="table table-responsive table-striped table-hover table-responsive w-auto">
  <thead>
    <tr>
      <th>Run</th>
      <th>Run Type</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Pace</th>
      <th>Elevation Gain</th>
      <th>Shoe Selection</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @runs.each do |run| %>
      <tr class="text-center">
        <td>
          <small class="text-muted"><%= formateDateTimeWithAt(run.start_time.utc) %></small><br />
          <strong><%= run.name %></strong><br />
          <small><%= run.notes %></small>
        </td>
        <td style="color: <%=run.run_type.hex_code%>"><%= run.run_type.name %></td>
        <td><%= concat_distance_miles(run.mileage_total) %></td>
        <td><%= concat_elapsed_time(run) %></td>
        <td><%= concat_pace_min_miles(run.pace) %></td>
        <td><%= concat_elevation_gain(run.elevation_gain) %></td>
        <td><%= run.gear.return_full_shoe_name %> (<%= run.gear.return_shoe_mileage %>)</td>
        <td>
          <%#= render edit_icon_btn_path, edit_path: edit_run_path(run) %>
          <%= render remove_icon_btn_path, object: run %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
