<p id="notice"><%= notice %></p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @run.hours %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @run.minutes %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @run.seconds %>
</p>

<p>
  <strong>Pace:</strong>
  <%= @run.pace %>
</p>

<p>
  <strong>Elevation gain:</strong>
  <%= @run.elevation_gain %>
</p>

<p>
  <strong>Avg heart rate:</strong>
  <%= @run.avg_heart_rate %>
</p>

<p>
  <strong>Max heart rate:</strong>
  <%= @run.max_heart_rate %>
</p>

<p>
  <strong>City:</strong>
  <%= @run.city %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @run.notes %>
</p>

<p>
  <strong>Personal best:</strong>
  <%= @run.personal_best %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
