<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to image_tag('logos/tab_runner_icon.png', class: "small-header-image"), dashboards_path, class: "navbar-brand" %>
			<%= link_to "Run Tracker", dashboards_path, class: "navbar-brand small-caps" %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="run-tracker-header">
			<ul class="nav navbar-nav">
				<li id="/users">
					<%= link_to user_calendars_path(current_user) do %>
						<span class="glyphicon glyphicon-calendar"></span> Calendar
					<% end %>
				</li>
				<li id="/resources" class="dropdown text-center">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="text-center">
							<%= link_to resource_workout_pace_chart_path, class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-tasks"></span> Workout Pace Chart
							<% end %>
						</li>
						<li class="text-center">
							<%= link_to resource_race_pace_chart_path, class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-list-alt"></span> Race Pace Chart
							<% end %>
						</li>
					</ul>
				</li>
				<% if session[:administrator] %>
					<li id="/admin" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Functions <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="text-center">
								<%= link_to edit_admin_obligation_color_path(session[:obligation_color_id]), class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-tint"></span> Edit Obligation Color
								<% end %>
							</li>
							<li class="text-center">
								<%= link_to admin_race_examples_path, class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-th-list"></span> Edit Race Examples
								<% end %>
							</li>
							<li class="text-center">
								<%= link_to admin_run_types_path, class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-tasks"></span> Edit Run Types
								<% end %>
							</li>
							<li class="text-center">
								<%= link_to admin_shoe_brands_path, class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-tags"></span> Edit Shoe Brands
								<% end %>
							</li>
							<li class="text-center">
								<%= link_to admin_total_record_root_path, class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-book"></span> Edit Total Records
								<% end %>
							</li>
							<li class="text-center">
								<%= link_to admin_user_roles_path, class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-user"></span> Edit User Roles
								<% end %>
							</li>
						</ul>
					</li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="<%=dashboards_path%>">
					<%= link_to dashboards_path do %>
						<span class="glyphicon glyphicon-home"></span> Home
					<% end %>
				</li>
				<li id="/user" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.concat_name %> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="text-center">
							<%= link_to user_runs_path(current_user), class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-road"></span> My Runs
							<% end %>
						</li>
						<li class="text-center">
							<%= link_to user_shoes_path(current_user), class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-briefcase"></span> My Shoes
							<% end %>
						</li>
						<% if not session[:website_viewer] %>
							<li class="text-center">
								<%= link_to user_obligations_path(current_user), class: 'top-bottom-padding' do %>
									<span class="glyphicon glyphicon-calendar"></span> My Obligations
								<% end %>
							</li>
						<% end %>
						<li role="separator" class="divider"></li>
						<li class="text-center">
							<%= link_to user_statistics_path(current_user), class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-stats"></span> My Stats
							<% end %>
						</li>
						<li class="text-center">
							<%= link_to user_race_results_path(current_user), class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-th-list"></span> My Race Results
							<% end %>
						</li>
						<li role="separator" class="divider"></li>
						<li class="text-center">
							<%= link_to user_settings_edit_path(current_user, current_user.id), class: 'top-bottom-padding' do %>
								<span class="glyphicon glyphicon-cog"></span> Settings
							<% end %>
						</li>
					</ul>
				</li>
				<li><%= link_to "Logout", logout_path %></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
