<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to image_tag('logos/tab_runner_icon.png', class: "small-header-image"), dashboards_path, class: "navbar-brand" %>
			<%= link_to "Run Tracker", dashboards_path, class: "navbar-brand small-caps" %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="run-tracker-header">
			<ul class="nav navbar-nav">
				<li id="/users"><%= link_with_icon("Calendar", user_calendars_path(current_user), "calendar") %></li>
				<li id="/resources" class="dropdown text-center">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Resources <span class="caret"></span></a>
					<ul class="dropdown-menu text-center">
						<li><%= dropdown_link_with_icon("Workout Pace Chart", resource_workout_pace_chart_path, "th") %></li>
						<li><%= dropdown_link_with_icon("Race Pace Chart", resource_race_pace_chart_path, "dashboard") %></li>
					</ul>
				</li>
				<% if session[:administrator] %>
					<li id="/admin" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Admin Functions <span class="caret"></span></a>
						<ul class="dropdown-menu text-center">
							<li><%= dropdown_link_with_icon("Edit Obligation Color", edit_admin_obligation_color_path(session[:obligation_color_id]), "tint") %></li>
							<li><%= dropdown_link_with_icon("Edit Race Examples", admin_race_examples_path, "th-list") %></li>
							<li><%= dropdown_link_with_icon("Edit Run Types", admin_run_types_path, "tasks") %></li>
							<li><%= dropdown_link_with_icon("Edit Shoe Brands", admin_shoe_brands_path, "tags") %></li>
							<li><%= dropdown_link_with_icon("Edit Total Records", admin_total_record_root_path, "folder-open") %></li>
							<li><%= dropdown_link_with_icon("Edit User Roles", admin_user_roles_path, "user") %></li>
						</ul>
					</li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="<%=dashboards_path%>">
					<%= link_to dashboards_path do %>
						<span class="glyphicon glyphicon-home"></span> Home
					<% end %>
				</li>
				<li id="/user" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <%= current_user.concat_name %> <span class="caret"></span></a>
					<ul class="dropdown-menu text-center">
						<li><%= dropdown_link_with_icon("My Runs", user_runs_path(current_user), "road") %></li>
						<li><%= dropdown_link_with_icon("My Shoes", user_shoes_path(current_user), "briefcase") %></li>
						<% if not session[:website_viewer] %>
							<li><%= dropdown_link_with_icon("My Obligations", user_obligations_path(current_user), "calendar") %></li>
						<% end %>
						<li role="separator" class="divider"></li>
						<li><%= dropdown_link_with_icon("My Stats", user_statistics_path(current_user), "stats") %></li>
						<li><%= dropdown_link_with_icon("My Race Results", user_race_results_path(current_user), "th-list") %></li>
						<li role="separator" class="divider"></li>
						<li><%= dropdown_link_with_icon("Settings", user_settings_edit_path(current_user, current_user.id), "cog") %></li>
					</ul>
				</li>
				<li><%= dropdown_link_with_icon("Logout", logout_path, "log-out") %></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
