<!DOCTYPE html>
<html>
  <head>
    <title><%= return_tab_name %></title>
    <%= favicon_link_tag return_tab_icon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body>
    <% begin %>
      <%= javascript_include_tag params[:controller] %>
      <% rescue => ex %>
    <% end %>
    <% if current_user && logged_in? %>
      <%= auto_session_timeout_js frequency: 15 %>
    <% end %>
    <%= render "layouts/header" if logged_in? %>
    <div class="left-right-padding">
      <p class="text-right"><%= formatFullDate(DateTime.current) %></p>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
