<!DOCTYPE html>
<html>
  <head>
    <title>Run Tracker</title>
    <%= favicon_link_tag asset_path('logos/runner_icon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
